@media screen and (max-width: 992px){

    body {
        background-position: center;
    }

    .main-container{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1,1fr);
    
    }
    
    .intro{
        grid-column: 1/-1;
        margin: auto;
        background-color: white;
        padding: 0 10px 0;
        border: 3px solid black;
        border-radius: 10px;
    }
    
    .container-1{
        grid-column: 1/-1;
        background-color: white;
        margin: auto;
        border: 3px solid black;
        border-radius: 10px;
    }
    
    .container-2{
        grid-column: 1/-1;
        background-color: white;
        margin: auto;
        border: 3px solid black;
        border-radius: 10px;
    }
    
    .container-3{
        grid-column: 1/-1;
        background-color: white;
        margin: auto;
        border: 3px solid black;
        border-radius: 10px;
    }
    
    .container-4{
        grid-column: 1/-1;
        background-color: white;
        margin: auto;
        border: 3px solid black;
        border-radius: 10px;
    }

    button {
        width: 350px;
    }
    
}


@media screen and (max-width: 390px){
    button {
        width: 270px;
    }

}
